<!-- navigation bar for the home page -->
<nav class="cyan lighten-4">
  <div class="nav-wrapper cyan lighten-4">
    <%= link_to image_tag("jobhacks.png"), home_path, :class => "brand-logo left logo" %> 
    <ul class="right">
      
        <div id="login">
          <ul class="left">
          Welcome, <%= current_user.proper_name %>!
          </ul>
          <% if logged_in? %>
            <!-- only display the user's proper name if it exists in the system -->
            <li><%= link_to 'Log out', logout_path %></li>
            <li><a class="dropdown-button" data-activates="dropdown1">My Account<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          <% else %>
            <ul class = "left">Welcome, Guest!</ul>
            <li><%= link_to 'Log in', login_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </div>
      </li>
      
      <!-- LOGGED IN USER OPTIONS -->
      <% if logged_in? %>
        <!-- dropdown options for my account -->
        <ul id="dropdown1" class="dropdown-content">
          <li><%= link_to "My Profile", user_path(current_user.id) %></li>
          <li><%= link_to "My Job Applications", applications_path %></li>
          <li><%= link_to "My Company Interests", user_interests_path %></li>
        </ul>
      <% end %>
    </ul>

  </div>
</nav>
