<div class="container">
  <div class="row">
    <div class="col s12 center">
    	<%= image_tag 'jobhacks2.png', class: "center" %> 
		<div class = "col center z-depth-3" id="dashboard">
			<b> <%= current_user.proper_name %> <br> <%= current_user.username %> </b>
			<br>
			<br>
			<% unless current_user.title.blank? %>
				<%= current_user.title %>
				<br>
				<br>
			<% end %>
			<%= link_to "most recent resume", "www.linkedin.com" %>
			<br>
			<br>
			<script>populateDashboard();</script>
		</div>
	</div>
  </div>
</div>