<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @user_interest.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_interest.user_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user_interest.rating %>
</p>

<%= link_to 'Edit', edit_user_interest_path(@user_interest) %> |
<%= link_to 'Back', user_interests_path %>
