<%= form_for(@user_interest) do |f| %>
  <% if @user_interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_interest.errors.count, "error") %> prohibited this user_interest from being saved:</h2>

      <ul>
      <% @user_interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
